*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.auth-page {
  display: flex;
  height: 100vh;
  font-family: 'Segoe UI', sans-serif;
}
.auth-background {
  flex: 1;
  background: linear-gradient(to bottom right, #cc4e00, #cc4e00);
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem;
}

.auth-container {
  flex: 1;
  background-color: #f9f6f2;
  display: flex;
  justify-content: center;
  align-items: center;
}

.auth-card {
  background-color: white;
  border-radius: 12px;
  padding: 2.5rem;
  width: 100%;
  max-width: 400px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.auth-header{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.auth-header .logo {
  font-size: 1.5rem;
  font-weight: bold;
  color: #cc4e00;
  text-decoration: none;
  display: flex;
  text-align: center;
  align-items: center;
}

.auth-title {
  font-size: 1.8rem;
  margin: 1rem 0 0.25rem;
  color: #4a2e0e;
}

.auth-subtitle {
  color: #7a6451;
  margin-bottom: 1.5rem;
  font-size: 0.95rem;
}
.form-group {
  margin-bottom: 1.5rem;
}

.form-label {
  display: block;
  margin-bottom: 0.5rem;
  font-weight: 600;
  color: #4a2e0e;
}

.input-wrapper {
  position: relative;
}

.form-input {
  width: 100%;
  padding: 0.75rem;
  border: 1px solid #ddd;
  border-radius: 6px;
  font-size: 1rem;
  background-color: #fefefe;
  transition: border-color 0.3s;
}

.form-input:focus {
  border-color: #cc4e00;
  outline: none;
}

.password-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.forgot-password {
  font-size: 0.85rem;
  color: #cc4e00;
  text-decoration: none;
}

.forgot-password:hover {
  text-decoration: underline;
}
.remember-me {
  display: flex;
  align-items: center;
  margin-bottom: 1.5rem;
  font-size: 0.9rem;
  color: #4a2e0e;
}

.checkbox-container {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
.auth-button {
  width: 100%;
  padding: 0.8rem;
  background-color: #cc4e00;
  color: white;
  border: none;
  border-radius: 6px;
  font-size: 1rem;
  font-weight: bold;
  cursor: pointer;
  transition: background 0.3s;
}

.auth-button:hover {
  background-color: #a53700;
}
.auth-footer {
  text-align: center;
  margin-top: 1rem;
  font-size: 0.9rem;
  color: #4a2e0e;
}

.auth-link {
  color: #cc4e00;
  text-decoration: none;
  margin-left: 0.3rem;
}

.auth-link:hover {
  text-decoration: underline;
}
.navbar-brand{
  font-size: 1.5rem;
  font-weight: bold;
  color: #cc4e00;
  text-decoration: none;
  display: flex;
  text-align: center;
  align-items: center;
}
.navbar{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  background-color: #f9f6f2;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}